name: crypto_coin_forum
description: A new Flutter project.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.0


  # these dependencies generate dart code with accessors to fonts and assets
  build_runner:
  code_builder: "^3.0.3"
#  pubspec: "^0.0.15"
  dart_style: '1.0.9+1'

  video_player: "^0.3.0"

dependency_overrides:
#  built_value: '5.1.0'

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies, 
  # see https://flutter.io/custom-fonts/#from-packages

  fonts:
    - family: Enriqueta
      fonts:
        - asset: assets/fonts/Enriqueta/Enriqueta-Regular.ttf
    - family: Jura
      fonts:
        - asset: assets/fonts/Jura/Jura-Regular.ttf

    - family: Aclonica
      fonts:
        - asset: assets/fonts/Aclonica/Aclonica-Regular.ttf


    - family: Comfortaa
      fonts:
        - asset: assets/fonts/Comfortaa/Comfortaa-Regular.ttf

#  assets:
#    - assets/images/bitcoin2.png
#    - assets/images/bbitcoin2.png

  enable-asset-scan: true
#  asset-scan-path: assets/

#  transformers:
#    - my_transformer
#  transformers:
#    - lib/transformer.dart
#    - polymer:
#        entry_points: web_index.html
#
